name: Daily

on:
  schedule:
  - cron:  '12 3 * * *'
  workflow_dispatch:

jobs:
  candidate:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      # few at a time to possibly reduce conflicts due to docker host mounts
      max-parallel: 3
      matrix:
        image:
          - debian-stable
          - fedora-35
          - fedora-36
          - opensuse-leap
          - opensuse-tumbleweed
          - ubuntu-18.04
          - ubuntu-20.04
          - ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Build image
        run: sudo ./.github/scripts/build-image.sh ./.github/docker/Dockerfile.${{ matrix.image }}
      - name: Install Flutter snap
        run: sudo ./.github/scripts/install-flutter.sh --docker --candidate flutter
      - name: Build Flutter app
        run: sudo ./.github/scripts/build-app.sh ${{ github.workspace }}/test/flutter_app
      - name: Run Flutter app
        run: sudo ./.github/scripts/run-app.sh
        timeout-minutes: 15
